<div fxFlexFill fxLayout="column">
    <!-- Toolbar -->
    <div fxFlex class="btn" style="height: 45px">
        <div>
            <img src="https://www.newworldhonda.com.au/images/logo-mobile.png"
                style="margin: 8px 0 5px 10px; height: 35px; width: 50px">
        </div>
    </div>

    <div style="margin: 1px 0px 0 150px; height: 250px">
        <img src="https://sun9-37.userapi.com/c858136/v858136082/1a8bbd/sIdWQPFy7MY.jpg">

    </div>

    <!-- Toolbar -->
    <div fxFlex fxLayout="row" class="btn" style="height: 45px; margin-top: 0">
        <div style="margin-right: 40px">
            <img src="https://www.newworldhonda.com.au/images/logo-mobile.png"
                style="margin: 8px 0 5px 10px; height: 35px; width: 50px">
        </div>
        <div>

            <button class="h-button" routerLink="/kit"
                style="width: 140px; height: 35px; margin-top: 5px; background: rgba(112, 216, 182, 0.8); border-radius: 6px" (click)="vvv()">
                Ваша комплектация </button>
            <button class="h-button" routerLink="/vtec"
                style="width: 110px; height: 35px; margin-top: 5px; margin-left: 10px;background: rgba(112, 216, 182, 0.8);border-radius: 6px">
                Про VTEC </button>
            <button class="h-button" routerLink="/about-configuration"
                style="width: 110px; height: 35px; margin-top: 5px; margin-left: 10px;background: rgba(112, 216, 182, 0.8);border-radius: 6px">
                История Honda</button>
        </div>

    </div>
</div>