
<!-- Toolbar -->
<div class="btn" role="banner" style="height: 45px">
    <div>
        <img src="https://www.newworldhonda.com.au/images/logo-mobile.png" style="margin: 8px 0 5px 10px; height: 35px; width: 50px">
    </div>
</div>

<div class="crop" style="margin: 1px 20px 0 20px; height: 300px; align-items: center">
    <div>
        <img class="a" style="text-align-last: center; height: 500px; width: 800px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c37c90e1-31b3-437b-89a8-b9bf1f8066ed/d9gzd5l-38e5e1da-fc7a-48bf-a8c9-e7f6c03a93c2.jpg/v1/fill/w_1024,h_667,q_75,strp/honda_torneo_cl1_pencil_drawing_by_pavee12120-d9gzd5l.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl0sIm9iaiI6W1t7InBhdGgiOiIvZi9jMzdjOTBlMS0zMWIzLTQzN2ItODlhOC1iOWJmMWY4MDY2ZWQvZDlnemQ1bC0zOGU1ZTFkYS1mYzdhLTQ4YmYtYThjOS1lN2Y2YzAzYTkzYzIuanBnIiwid2lkdGgiOiI8PTEwMjQiLCJoZWlnaHQiOiI8PTY2NyJ9XV19.esQlZLkw4sE0NL026y4Aqw3vFrpTMHj6Dd9-7xXysGs" alt="">
    </div>
    <div>
        <img class="b" style="height: 320px;
        width: 320px;
        margin-left: 907px;
        margin-top: 100px;" src="https://i-a.d-cd.net/tMAAAgDFYuA-1920.jpg">
    </div>
</div>

<!-- Toolbar -->
<div class="btn" role="banner" style="height: 45px; margin-top: 0">
    <div>
        <img src="https://www.newworldhonda.com.au/images/logo-mobile.png" style="margin: 8px 0 5px 10px; height: 35px; width: 50px">
    </div>
</div>