<p>vtec works!</p>
<span *ngIf="vtec">
    VTEC (англ. Variable valve Timing and lift Electronic Control) — электронная система изменения времени и хода
    клапанов. Используется в двигателях внутреннего сгорания фирмы Honda. Система позволяет эффективно управлять
    наполнением топливно-воздушной смесью камер сгорания в условиях атмосферного давления. На низких оборотах двигателя
    система обеспечивает экономичный режим работы, на средних — максимальный крутящий момент, на максимальных оборотах —
    максимальную мощность.
</span>
<span *ngIf="sir">

    SIR – двухвальный мотор (синеголовый) F20B с автоматической коробкой передач MCJA с возможностью переключения
    вручную…
</span>

<span *ngIf="AT">
    Автоматическая коробка передач (также АКПП или «автоматическая коробка перемены (переключения) передач», далее —
    просто АКП) в широком смысле — коробка передач, устройство и механика работы которой позволяют ей в процессе
    движения транспортного средства самостоятельно определять наиболее подходящее доступное передаточное отношение,
    переходить (переключаться) с одного передаточного отношения на другое, обеспечивать упрощённую для водителя
    процедуру трогания с места и выполнять это всё автоматически, наиболее оптимально подстраивая внешнюю скоростную
    характеристику двигателя под заданную водителем скорость движения в текущих дорожных условиях. Автоматическая КП
    есть один из двух (наравне с механической КП) широко распространённых типов коробок передач, применяемых на
    разноплановых колёсных, гусеничных и рельсовых транспортных средствах.
</span>

<span *ngIf="MT">
    Механическая коро́бка (переключения) переда́ч (далее везде по тексту — МКП) — коробка передач, в которой
    переключение передач организовано посредством механического привода.[1] Управление работой МКП всегда целиком и
    полностью возложено на водителя, который на любом транспортном средстве с МКП должен сам за счёт прикладного опыта
    езды определять как выбор передачи под текущие условия движения, так и непосредственно осуществлять процесс
    переключения передач, зачастую параллельно с этим задействуя сцепление.
</span>

<span *ngIf="f18">
    Ваш двигатель - f18b.
    <br>
    ССылка на описание: http://wikimotors.ru/honda-f18b/
</span>
<span *ngIf="f20">
    Ваш двигатель - f20b.
    <br>
    ССылка на описание: http://wikimotors.ru/honda-f20b/
</span>
<span *ngIf="hatch">
    А вы гурман!!!! ))
</span>
<span *ngIf="FWD">
    4WD - По́лный при́вод — разноплановый комплекс технических решений, обеспечивающий автомобилю постоянную или как
    минимум временную возможность иметь ведущими все свои колёса. Обоснованием применения полного привода на автомобиле
    является то, что полноприводный автомобиль может реализовывать в силу тяги всю доступную ему мощность при гораздо
    меньших силах сцепления, действующих на колёса, что напрямую сказывается на улучшении внедорожных и всепогодных
    способностей автомобиля. В случае одного двигателя идея полного привода реализуется только посредством
    полноприводных трансмиссий различных схем, каждая из которых подразумевает свои уникальные правила раздачи мощности
    между осями. В случае нескольких двигателей идея полного привода может быть реализована посредством раздельного (не
    связанного друг с другом) привода осей.
</span>
<span *ngIf="sirT">
    SIR – двухвальный мотор (синеголовый) F20B с механической коробкой передач
</span>
<span *ngIf="euroR">
    Honda Torneo Euro R.

    Когда создавался Honda Torneo CF4, и его топовая версия SiR-T – двухлитровое 200-сильное чудо-на-механике —
    казалось, что совершенство достигнуто, и что Honda, наконец, угодила всем «спортсменам-семьянинам», и лучше уже
    просто быть не может. Так, наверное, думали все. Но только не сама Honda. Уж кому-кому, а не Honda думать о том, что
    совершенство, величина постоянная, — сколько раз за свою историю ей удавалось сделать лучше то, над чем рыдал весь
    мир (одна половина мира, — от счастья, вторая, — от зависти). Вот и с Honda Accord конструкторы компании в очередной
    раз повели себя по традиционной схеме.

    За основу, как мы уже выяснили, был взят седан в кузове CL, который был похож на седан в кузове CF, который на все
    варианты внешне одинаковый (что 1,8-литровый, что SiR-T, все похожи как близнецы-братья). Решив, что дизайн для
    строительства вполне подходящий, конструкторы начали «колдовать» над начинкой. Чтобы расширить понятия совершенства
    до новых границ, решено было поставить в подкапотный отсек 2,2-литровый, 220-сильный двигатель H22A. Двухвальная
    VTEC-овая конструкция выдавала свой полный табун на 7200 оборотах в минуту, и при этом имела очень достойный
    крутящий момент, 225 Нм. при 6700 оборотах, что позволяло срывать тяжелую машину с места, словно легкий Civic.
</span>