<div fxFlexFill fxLayout="row">
    <div class="kit" fxFlex="200px">
        <form [formGroup]="modelPreview" class="configuration-form">
            <div>
                <span [ngSwitch]="hpPreview.value">
                    <img *ngSwitchCase="140 || 148 || 150" src="../../assets/images/blackTop.png">
                    <img *ngSwitchCase="180 || 200" src="../../assets/images/blueTop.png">
                    <img *ngSwitchCase="220" src="../../assets/images/redTop.png">
                    <img *ngSwitchDefault src="../../assets/images/engine.png">
                </span>

                <mat-form-field fxFlex="row">
                    <mat-label>HP/kW</mat-label>
                    <input matInput formControlName="hpPreview" placeholder="HP/kW">
                </mat-form-field>
            </div>
            <div>
                <span [ngSwitch]="transmissionPreview.value">
                    <img *ngSwitchCase="'МКПП'" src="../../assets/images/MT.png">
                    <img *ngSwitchCase="'АКПП'" src="../../assets/images/AT.png">
                    <img *ngSwitchDefault src="../../assets/images/MT.png">
                </span>

                <mat-form-field fxFlex="row">
                    <mat-label>Transmission</mat-label>
                    <input matInput formControlName="transmissionPreview" placeholder="Transmission">
                </mat-form-field>
            </div>
            <div>
                <span [ngSwitch]="transmissionPreview.value">
                    <img *ngSwitchCase="'4WD'" src="../../assets/images/fullWD.png">
                    <img *ngSwitchCase="'Передний привод'" src="../../assets/images/frontWD.png">
                    <img *ngSwitchCase="'Задний привод'" src="../../assets/images/rearWD.png">
                    <img *ngSwitchDefault src="../../assets/images/WD.png">
                </span>

                <mat-form-field fxFlex="row">
                    <mat-label>Wheel drive</mat-label>
                    <input matInput formControlName="wheelDrivePreview" placeholder="Wheel drive">
                </mat-form-field>
            </div>
            <!-- <div>
                <img *ngIf="modificationPng === ModificationEnum.VTE || modificationPng === ModificationEnum.VTS"
                    src="https://pubimg.4mycar.ru/images/06c36eb19d0ad0a27d4a8a0dcf3139b498.jpeg" style="width: 80px;">
                <img *ngIf="modificationPng === ModificationEnum.sir" src="https://media.vinylfarm.com/2015/06/SiR.png"
                    style="width: 80px;">
                <img *ngIf="modificationPng === ModificationEnum.sirT" src="https://a.d-cd.net/53d06b5s-1920.jpg"
                    style="width: 80px;">
                <img *ngIf="modificationPng === ModificationEnum.euroR" src="https://a.d-cd.net/dc2c07es-480.jpg"
                    style="width: 80px;">
            </div> -->
        </form>

    </div>
    <div [formGroup]="model" class="kit" fxFlex="510px" fxLayout="column" fxLayoutAlign="start start">

        <div fxLayout="row">
            <div fxLayout="column">
                <div fxLayout="row">
                    <mat-radio-group fxLayout="column" class="kit-content" formControlName="engine">
                        <span class="kit-content-title">Двигатель</span>
                        <mat-radio-button *ngFor="let engine of engineArray" color="primary"
                            style="margin: 5px 0 0 15px;" [value]="engine">
                            {{engine}}
                        </mat-radio-button>
                    </mat-radio-group>

                    <mat-radio-group fxLayout="column" class="kit-content" formControlName="hp"
                        style="margin-left: 50px;">
                        <span class="kit-content-title">Мощность</span>
                        <mat-radio-button *ngFor="let hp of hpArray" color="primary" style="margin: 5px 0 0 15px;"
                            [value]="hp" (click)="setHp(hp)" [disabled]="checkHp(hp)">
                            {{hp}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>

                <div fxLayout="row">
                    <mat-radio-group fxLayout="column" class="kit-content" formControlName="transmission">
                        <span class="kit-content-title">Коробка передач</span>
                        <mat-radio-button *ngFor="let transmission of transmissionArray" color="primary"
                            style="margin: 5px 0 0 15px;" (click)="setTransmission(transmission)" [value]="transmission"
                            [disabled]="checkTransmission(transmission)">
                            {{transmission}}
                        </mat-radio-button>
                    </mat-radio-group>

                    <mat-radio-group fxLayout="column" class="kit-content" formControlName="wheelDrive">
                        <span class="kit-content-title">Привод</span>
                        <mat-radio-button *ngFor="let wheelDrive of wheelDriveArray" color="primary"
                            style="margin: 5px 0 0 15px;" (click)="setWheelDrive(wheelDrive)" [value]="wheelDrive"
                            [disabled]="checkWheelDrive(wheelDrive)">
                            {{wheelDrive}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>

                <div fxLayout="row">

                    <mat-radio-group fxLayout="column" class="kit-content" formControlName="modification">
                        <span class="kit-content-title">Модификация</span>
                        <mat-radio-button *ngFor="let modification of modificationArray" color="primary"
                            style="margin: 5px 0 0 15px;" [value]="modification"
                            [disabled]="checkModification(modification)">
                            {{modification}}
                        </mat-radio-button>
                    </mat-radio-group>

                    <mat-checkbox fxLayout="column" formControlName="customKit" color="primary"
                        style="margin-left: 35px;">
                        Кастом
                    </mat-checkbox>
                </div>
            </div>
            <div class="kit-content">
                <span class="kit-content-title">Опции</span>
                <div fxLayout="column"
                    style="box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
                border-radius: 8px; padding: 5px 10px 5px 0; width: 185px;margin-top: 5px; max-height: 430px; overflow: auto;">
                    <mat-checkbox *ngFor="let option of optionArray" (change)="selectOption(option)"
                        [checked]="isSelected(option)" color="primary" style="margin-left: 10px;">
                        {{option}}
                    </mat-checkbox>
                </div>
            </div>
        </div>

        <button class="h-button" style="margin: 0 10px 10px 0;align-self: flex-end" (click)="applyChanges()"
            mat-button>Click me!</button>

    </div>
    <div class="kit" fxFlex fxLayoutAlign="end end">
        <!-- <img *ngIf="model.controls.engine.value === 'f18b'" style="width: 190px; height: 160px;"
            src="https://cdn1.worldpng.ru/uploads/2021/3/30/c52366bcce67277c95fb02cc5f944530-full.png"> -->
    </div>
    <!-- <div style="height: 600px; width: 700px">
        <img id="vtec1" (mousedown) = "ppp($event)" (ondragstart)="aaa()" (onmouseup)="bbb()"  style="height: 400px; width: 400px" src="https://ae01.alicdn.com/kf/HTB1VxYSNXXXXXb4apXXq6xXFXXXL/Red-Chrom-auto-car-Metal-font-b-VTEC-b-font-sticker-Car-Fender-Stickers-and-font.jpg">
    
    </div> -->
</div>