#vtec {
    // position:absolute;
    // top:250px;
    // left:350px;
    // clip:rect(202px 800px 1020px 20px);
}

.kit{
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    border-radius: 8px;
}

.kit-content{
    margin: 10px 0 10px 15px;
}